<!DOCTYPE html>
<html lang="en">
  <head>
    <title>MangaTracker</title>
    <link rel="stylesheet" type="text/css" href="/style.css" />
    <!-- development version, includes helpful console warnings -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.8.34/browser.min.js"></script>
    <script type="text/babel">
      // const parseJSON = (xhr, content) => {
      //   const obj = JSON.parse(xhr.response);

      //   if(xhr.response) {
      //     if(obj.message) {
      //     let message = document.createElement('p');
      //     message.textContent = `Message: ${obj.message}`;
      //     content.appendChild(message);
      //     }

      //     if(obj.users){
      //     let users = document.createElement('p');
      //     users.textContent = JSON.stringify(obj.users);
      //     content.appendChild(users);
      //     }
      //   }
      // };

      // const handleResponse = (xhr, parse) => {
      //   const content = document.querySelector('#content');

      //   switch(xhr.status){
      //     case 200:
      //       content.innerHTML = '<b>Success</b>';
      //       break;
      //     case 201:
      //       content.innerHTML = '<b>Created</b>';
      //       break;
      //     case 204:
      //       content.innerHTML = '<b>Updated (No Content)</b>';
      //       break;
      //     case 400:
      //       content.innerHTML = '<b>Bad Request</b>';
      //       break;
      //     case 404:
      //       content.innerHTML = '<b>Resource Not Found</b>';
      //       break;
      //     default:
      //       content.innerHTML = '<b>Status Code Not Implemented By Client</b>';
      //       break;
      //   }

      //   parseJSON(xhr, content);
      // };

      // const sendPost = (e, nameForm) => {
      //   const nameAction = nameForm.getAttribute('action');
      //   const nameMethod = nameForm.getAttribute('method');

      //   const nameField = nameForm.querySelector('#nameField');
      //   const ageField = nameForm.querySelector('#ageField');

      //   const xhr = new XMLHttpRequest();
      //   xhr.open(nameMethod, nameAction);

      //   xhr.setRequestHeader('Accept', 'application/json');
      //   xhr.setRequestHeader('Content-type', 'application/x-www-form-urlencoded');

      //   xhr.onload = () => handleResponse(xhr, true);

      //   const formData = `name=${nameField.value}&age=${ageField.value}`;

      //   xhr.send(formData);

      //   e.preventDefault();

      //   return false;
      // };

      // const sendGet = (e, userForm) => {
      //   const url = userForm.querySelector('#urlField');
      //   const method = userForm.querySelector('#methodSelect');

      //   const xhr = new XMLHttpRequest();
      //   xhr.open(method.value, url.value);

      //   // if(method.value === 'get'){
      //   //   xhr.onload = () => handleResponse(xhr, true);
      //   // } else if(mathod.value === 'head'){
      //   //   xhr.onload = () => handleResponse(xhr, false);
      //   // }

      //   xhr.onload = () => handleResponse(xhr);

      //   xhr.setRequestHeader('Accept', 'application/json');
      //   xhr.send();

      //   e.preventDefault();

      //   return false;
      // }

      // const init = () => {
      //   const nameForm = document.querySelector('#nameForm');
      //   const userForm = document.querySelector('#userForm')

      //   const addUser = (e) => sendPost(e, nameForm);
      //   nameForm.addEventListener('submit', addUser);

      //   const getUser = (e) => sendGet(e, userForm);
      //   userForm.addEventListener('submit', getUser);
      // };

      const init = () => {};

      window.onload = init;
    </script>
  </head>
  <body>
    <section id="app">
      <section id="search">
        <input type="search" name="searchbar" id="searchbar" v-model="searchQuery">
        <input type="submit" value="Search">
      </section>
      <section id="content">
        <section>
          <button v-on:click="getResultSection">Results</button>
          <button v-on:click="getTrackedSection">Tracked</button>
        </section>
        <section v-if="searching">searching</section>
        <section v-else-if="!searching">not searching</section>
        <!-- psedudo -->
        <!-- v if results div -->
        <!-- v for returned manga -->
        <!-- v if results div -->
      </section>
    </section>
    <script type="text/babel" src="/vue.js"></script>
  </body>
</html>
