<!DOCTYPE html>
<html lang="en">
  <head>
    <title>MangaTracker</title>
    <link rel="stylesheet" type="text/css" href="/style.css" />
    <!-- development version, includes helpful console warnings -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.8.34/browser.min.js"></script>
    <script type="text/babel" src="/client.js"></script>
  </head>
  <body>
    <section id="app">
      <section id="search">
        <h1>MangaTracker</h1>
        <input type="search" name="searchbar" id="searchbar" v-model="searchQuery">
        <input type="submit" value="Search">
      </section>
      <section id="content">
        <section>
          <form id="getForm" action="/getManga" method="get">
            <button type="button" v-on:click="getResultSection">Results</button>
            <button type="button" v-on:click="getTrackedSection($event)">Tracked</button>
          </form>
        </section>
        <section id="addSection" v-if="searching">
          <div id="addDiv">
            <h1>Add a manga:</h1>
          <form id="addForm" action="/addManga" method="POST">
            <label for="title">Manga Title</label>
            <input type="text" name="title" id="title" placeholder="manga title">
            <label for="title">Author</label>
            <input type="text" name="author" id="author" placeholder="manga author">
            <label for="title">Current Chapter</label>
            <input type="number" name="currentChapter" id="currentChapter" min="1" max="9999">
            <label for="title">Max Chapter(estimate if ongoing)</label>
            <input type="number" name="maxChapter" id="maxChapter" min="1" max="9999">
            <label for="title">Description</label>
            <input type="text" name="description" id="description" placeholder="manga description">
            <button v-on:click="addManga($event)" type="submit">Add</button>
          </form>
          </div>
        </section>
        <section v-else-if="!searching">
          <div id="trackedScrollWrap">
            <template class="trackedCard" v-for="manga in mangaList.mangaList">
              <label>Title:</label>
              <p>{{manga.title}}</p>
              <label>Author:</label>
              <p>{{manga.author}}</p>
              <label>Current Chapter:</label>
              <input type="number" min="1" max="9999" :value="manga.currentChapter">
              <label>Max Chapter:</label>
              <input type="number" min="1" max="9999" :value="manga.maxChapter">
              <label>Description:</label>
              <p>{{manga.description}}</p>
              <button v-on:click="deleteCard(manga.title)">Delete</button>
            </template>
          </div>
        </section>
      </section>
    </section>
  </body>
</html>
